{% trans_default_domain 'FOSUserBundle' %}

<div class="">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header text-primary"><i class="fa fa-user"></i> Mon compte</h2>

            <p> <b>{{ 'profile.show.username'|trans  }}:</b> {{ user.username }}</p>
            <p><b>{{ 'profile.show.email'|trans }}</b>: {{ user.email }}</p>
        </div>
    </div>
</div>
